/.classpath
/.project
/.settings
/target
/jgoogleanalyticstracker-android/.classpath
/jgoogleanalyticstracker-android/.project
/jgoogleanalyticstracker-android/.settings
/jgoogleanalyticstracker-android/target
/jgoogleanalyticstracker-desktop/.classpath
/jgoogleanalyticstracker-desktop/.project
/jgoogleanalyticstracker-desktop/.settings
/jgoogleanalyticstracker-desktop/target

